<div>



    <label>Name</label>
    <input [ngClass]="{invalidField: !newUser.name}" [(ngModel)]="newUser.name" type="text">
    <ng-template [ngIf]="!newUser.name">
        <p class="fieldInvalid">Campo inválido</p>
    </ng-template>


    <label>Email</label>
    <input [ngClass]="{invalidField: !newUser.email}" [(ngModel)]="newUser.email" type="email">
    <ng-template [ngIf]="!newUser.email">
        <p class="fieldInvalid">Campo inválido</p>
    </ng-template>



    <label>Site</label>
    <input [(ngModel)]="newUser.site" type="text">


    <label>Imagem Url</label>
    <input [ngClass]="{invalidField: !newUser.imgUrl}" [(ngModel)]="newUser.imgUrl" type="text">
    <ng-template [ngIf]="!newUser.imgUrl">
        <p class="fieldInvalid">Campo inválido</p>
    </ng-template>

    <button (click)="addUser(newUser)">Add</button>

</div>