<div>

    <label>Name</label>
    <input #userName [ngClass]="userName.value === '' ? 'invalidField' : ''" [(ngModel)]="user.name" type="text">

    <label>Email</label>
    <input [(ngModel)]="user.email" type="email">

    <label>Site</label>
    <input [(ngModel)]="user.site" type="text">

    <label>Imagem Url</label>
    <input [(ngModel)]="user.imgUrl" type="text">

    <ng-template [ngIf]="user.name" [ngIf]="user.email">
        <button (click)="saveUser(user)">Save Changes</button>
    </ng-template>


</div>