<div class="btnadd">
    <button>Add User</button>
</div>
<table>
    <tr>
        <th>User Detail</th>
        <th>Edit User</th>
        <th>Remove User</th>
    </tr>
    <tr *ngFor="let user of userss">
        <td class="users">
            <img class="personimg"
                [src]="user.imgUrl"
                alt="imagem pessoa">
            <div>
                <p class="name">{{user.name}}</p>
                <p class="email">
                    {{user.email}}</p>
               <p #siteUser class="site">{{user.site}}</p>
                <p class="date">Add on :  {{user.date}}</p>
            </div>
        </td>
        <td>
            <button class="edit" [routerLink]="['/users/edit', user.id]">Edit</button>
        </td>
        <td>
            <button (click)="delete(user.id)" class="delete">Delete</button>
        </td>
    </tr>
</table>