table{
    width: 80%;
    border: 1px solid black;
}

table tr .users{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid gray;
    height: 120px;
}

table tr .users div{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

table tr .users div p {
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
    margin-left: 20%;
}

.name{
    color: rgb(0, 162, 255);
    font-weight: bolder;
    font-size: 20px;
}
.site{
    color: rgb(0, 162, 255);
}

.date{
    color: lightgray;
    font-size: 10px;
}
table tr td .personimg{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

table tr td:nth-child(n+2) {
    text-align: center;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
}

table tr td:nth-child(n+2) button{
    width: 80%;
    font-weight: bold;
    letter-spacing: 3px;
    padding: 2px;
    border: none;
    border-radius: 2px;
    color: white;
    transition: .5s;
}

table tr td:nth-child(n+2) button:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.edit{
    background-color: rgb(53, 171, 240);
}

.delete{
    background-color: rgb(165, 42, 42);
}


